.container {
  max-width: 1120px;

  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  max-width: 720px;

  margin: 5rem auto 0;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  time {
    display: block;

    margin: 2rem 0;

    font-size: 1rem;

    color: var(--gray-300);
  }

  .postContent {
    line-height: 2rem;

    font-size: 1.125rem;

    color: var(--gray-100);

    &.previewContent {
      -webkit-text-fill-color: transparent;

      background: linear-gradient(var(--gray-100), transparent);
      background-clip: text;
    }

    p,
    ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}

.continueReading {
  margin: 4rem 0 2rem;
  padding: 2rem;

  text-align: center;

  background: var(--gray-850);

  border-radius: 100px;

  font-size: 1.25rem;
  font-weight: bold;

  a {
    margin-left: 0.5rem;

    color: var(--yellow-500);

    &:hover {
      text-decoration: underline;
    }
  }
}
