.headerContainer {
  height: 5rem;
  
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;

  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  nav {
    height: 5rem;

    margin-left: 5rem;

    a {
      display: inline-block;

      padding: 0 0.5rem;

      line-height: 5rem;

      color: var(--gray-300);

      position: relative;

      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;

        &::after {
          content: '';
  
          position: absolute;
          right: 0;
          bottom: 1px;
          left: 0;
          
          height: 3px;
  
          background: var(--yellow-500);
  
          border-radius: 3px 3px 0 0;
        }
      }
    }
  }
}